<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="debuggerTab" name="debuggerTab" schema="schema/debuggerTab.exsd"/>
   <extension
         id="X10CppBuilder"
         name="X10 Compiler (Cpp Back-end)"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false">
         <run
               class="org.eclipse.imp.x10dt.ui.launch.cpp.builder.CppBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="x10nature"
         name="X10 Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.imp.x10dt.ui.launch.cpp.nature.CppProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.imp.x10dt.ui.cpp.launch.X10CppBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.imp.x10dt.ui.launch.cpp.preferences.CppBuilderPrefPageInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.eclipse.imp.x10dt.core"
            class="org.eclipse.imp.x10dt.ui.launch.cpp.wizards.CppProjectWizard"
            finalPerspective="org.eclipse.imp.x10dt.ui.perspective"
            hasPages="true"
            icon="icons/obj/newx10prj_cpp.gif"
            id="org.eclipse.imp.x10dt.ui.cpp.launch.NewX10Project"
            name="%new_prj_name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.imp.x10dt.ui.cpp.launch.X10ElementCreation"
            label="%perspective.actionsets">
         <action
               class="org.eclipse.imp.x10dt.ui.launch.cpp.actions.OpenX10ProjectCppBCWizardToolbarAction"
               icon="icons/obj/newx10prj_cpp.gif"
               id="org.eclipse.imp.x10dt.ui.cpp.launch.NewX10ProjectCppToolbarAction"
               label="%new.project.cpp.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.project.cpp.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.imp.x10dt.ui.perspective">
         <actionSet
               id="org.eclipse.imp.x10dt.ui.cpp.launch.X10ElementCreation">
         </actionSet>
         <newWizardShortcut
               id="org.eclipse.imp.x10dt.ui.cpp.launch.NewX10Project">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.imp.x10dt.ui.launch.cpp.launching.CppLaunchConfigurationDelegate"
            id="org.eclipse.imp.x10dt.ui.cpp.launch.X10LaunchConfigurationType"
            modes="run,debug"
            name="%launch.config.cpp.name"
            sourceLocatorId="org.eclipse.imp.x10dt.ui.cpp.launch.SourceLocator"
            sourcePathComputerId="org.eclipse.ptp.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.imp.x10dt.ui.launch.cpp.launching.CppLaunchConfigurationTabGroup"
            id="org.eclipse.imp.x10dt.ui.cpp.launch.X10LaunchConfigurationTabGroup"
            type="org.eclipse.imp.x10dt.ui.cpp.launch.X10LaunchConfigurationType">
         <launchMode
               description="%parallelLaunch.run"
               mode="run"
               perspective="org.eclipse.ptp.ui.PTPRunPerspective">
         </launchMode>
         <launchMode
               description="%parallelLaunch.debug"
               mode="debug"
               perspective="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.imp.x10dt.ui.cpp.launch.X10LaunchConfigurationType"
            icon="icons/obj/parallel_run.gif"
            id="org.eclipse.imp.x10dt.ui.cpp.launch.X10LaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.eclipse.imp.x10dt.ui.launch.cpp.launching.CppSourceLocator"
            id="org.eclipse.imp.x10dt.ui.cpp.launch.SourceLocator"
            name="X10 C++ back-end source locator">
      </sourceLocator>
   </extension>

</plugin>
