<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="x10"
            description="X10 Concurrent Programming Language"
            natureID="x10dt.ui.launch.cpp.x10nature"
            icons="icons/compilationUnitNormal.gif"
            language="X10"
            pathFileName=".x10path">
      </language>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="x10dt.ui.parser.ParseController"
            language="X10">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="x10dt.ui.editor.X10TokenColorer"
            language="X10">
      </tokenColorer>
   </extension>
   <!--
   <extension
         point="org.eclipse.imp.runtime.autoEditStrategy">
      <autoEditStrategy
            class="x10dt.ui.editor.formatting.X10AutoIndentStrategy"
            language="X10">
      </autoEditStrategy>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingX10Source.name"
            description="%context.editingX10Source.description"
            parentId="org.eclipse.imp.runtime.sourceEditorScope"
            id="x10dt.ui.x10EditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.X10Perspective.name"
            description="%context.X10Perspective.description"
            parentId="org.eclipse.ui.contexts.window"
            id="x10dt.ui.x10PerspectiveScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+M2+T"
            contextId="x10dt.ui.x10PerspectiveScope"
            commandId="x10dt.ui.navigate.OpenType"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+M2+H"
            contextId="x10dt.ui.x10PerspectiveScope"
            commandId="x10dt.ui.navigate.OpenTypeInHierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="M1+T"
            contextId="x10dt.ui.x10EditorScope"
            commandId="x10dt.ui.navigate.OpenHierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="F4"
            contextId="x10dt.ui.x10PerspectiveScope"
            commandId="x10dt.ui.navigate.OpenTypeHierarchy"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
<!-- navigate -->
      <command
            name="%ActionDefinition.openType.name"
            description="%ActionDefinition.openType.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="x10dt.ui.navigate.OpenType">
      </command>
      <command
            name="%ActionDefinition.openTypeInHierarchy.name"
            description="%ActionDefinition.openTypeInHierarchy.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="x10dt.ui.navigate.OpenTypeInHierarchy">
      </command>
      <command
            name="%ActionDefinition.open.hierarchy.name"
            description="%ActionDefinition.open.hierarchy.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="x10dt.ui.navigate.OpenHierarchy">
      </command>
      
      <command
            name="%ActionDefinition.openTypeWarning.name"
            description="%ActionDefinition.openTypeWarning.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="x10dt.ui.navigate.OpenTypeWarning">
      </command>
      <command
            name="%ActionDefinition.openTypeHierarchy.name"
            description="%ActionDefinition.openTypeHierarchy.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="x10dt.ui.navigate.OpenTypeHierarchy">
      </command>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.outliner">
      <outliner
            class="x10dt.ui.views.Outliner"
            language="X10">
      </outliner>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="x10dt.ui.editor.X10FoldingUpdater"
            language="X10">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="x10dt.ui.contentProposer.X10ContentProposer"
            language="X10">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="x10dt.ui.editor.X10TreeModelBuilder"
            language="X10">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="x10dt.ui.editor.X10LabelProvider"
            language="X10">
      </labelProvider>
   </extension>
   <extension
         id="x10dt.ui.cheatSheets"
         name="X10 Cheat Sheets"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            name="X10"
            id="x10dt">
      </category>
      <cheatsheet
            name="Using the X10DT"
            category="x10dt"
            contentFile="cheatsheets/UsingX10DT.xml"
            id="x10dt.ui.cheatSheets.using">
         <description>
            A brief introduction to using the X10 Development Toolkit.
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="x10dt.ui.editor.X10ReferenceResolver"
            language="X10">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="X10"
            icon="icons/x10perspective.gif"
            class="x10dt.ui.perspective.X10PerspectiveFactory"
            id="x10dt.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="x10dt.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="x10dt.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="x10dt.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="x10dt.ui.perspective">
         <showInPart
               id="org.eclipse.imp.runtime.projectExplorerView">
         </showInPart>
         <showInPart
               id="org.eclipse.jdt.ui.PackageExplorer">
         </showInPart>
         <showInPart
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>
         <showInPart
               id="org.eclipse.ui.views.ResourceNavigator">
         </showInPart>
         <actionSet
               id="x10dt.ui.X10ElementCreation">
         </actionSet>
         <view
               closeable="true"
               id="x10dt.ui.astValidationView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="x10dt.ui.editor.X10DocProvider"
            language="X10">
      </docProvider>
   </extension>
<!--
   <extension
         id="menu:org.eclipse.ui.main.menu"
         name="SourceSection"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Source"
               id="x10dt.ui.menu.source">
            <command
                  commandId="x10dt.ui.formatCmd"
                  tooltip="Format X10 source code">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:x10dt.ui.view.source">
         <command
               commandId="org.eclipse.imp.runtime.formatSource"
               label="Source-code editing"
               tooltip="Format selected text"
               id="Format">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:x10dt.ui.view.source">
         <command
               commandId="org.eclipse.imp.runtime.formatSource"
               label="Format"
               style="push"
               icon="icons/runtime_obj.gif"
               tooltip="Format X10 source code">
         </command>
      </menuContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Format"
            defaultHandler="x10dt.ui.commands.handlers.FormatCmdHandler"
            description="Format X10 source"
            id="x10dt.ui.formatCmd">
      </command>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contextHelper">
      <contextHelper
            class="x10dt.ui.help.X10ContextHelper"
            language="X10">
      </contextHelper>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="x10dt.ui.editor"
            id="imp.rulerActions">
         <action
               label="SelectRulerAction"
               class="org.eclipse.imp.actions.SelectRulerAction"
               actionID="RulerClick"
               id="x10dt.ui.editor.actions.X10SelectRulerAction">
         </action>
         <action
             label="Not Used"
             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
             style="push"
             actionID="RulerDoubleClick"
             id="imp.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>
<!--
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.debug.core.lineBreakpointMarker"
            class="x10dt.ui.debug.X10LineBreakpoint"
            id="genericImpLineBreakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="x10dt.ui.x10LineBreakpointMarker"
            name="org.eclipse.imp.X10LineBreakpoint"
            class="x10dt.ui.debug.X10LineBreakpoint"
            id="x10LineBreakpoint">
      </breakpoint>
   </extension>
   <extension
         id="x10LineBreakpointMarker"
         name="X10 Line breakpoint marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
-->
   <extension
         point="org.eclipse.imp.runtime.markOccurrences">
      <occurrenceIdentifier
            class="x10dt.ui.editor.X10OccurrenceIdentifier"
            language="X10">
      </occurrenceIdentifier>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="x10dt.ui.X10ElementCreation"
            label="%perspective.actionsets">
         <action
               class="x10dt.ui.perspective.actions.OpenX10InterfaceWizardToolbarAction"
               icon="icons/newint_wiz.gif"
               id="x10dt.ui.NewX10InterfaceToolbarAction"
               label="%new.interface.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.interface.tooltip">
         </action>
         <action
               class="x10dt.ui.perspective.actions.OpenX10ClassWizardToolbarAction"
               icon="icons/newclass_wiz.gif"
               id="x10dt.ui.NewX10ClassToolbarAction"
               label="%new.class.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.class.tooltip">
         </action>
         <action
               class="x10dt.ui.perspective.actions.OpenX10PackageWizardToolbarAction"
               icon="icons/newpack_wiz.gif"
               id="x10dt.ui.NewX10PackageToolbarAction"
               label="%new.package.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.package.tooltip">
         </action>
      </actionSet>
      <!-- =========================================================================== -->
<!-- Java and Coding Action Set (Adding the source, refactor and navigate menu)  -->
<!-- =========================================================================== -->
      <actionSet
            label="%X10ActionSet.label"
            description="%X10ActionSet.description"
            visible="false"
            id="x10dt.ui.typeActionSet">
         <action
               definitionId="x10dt.ui.navigate.OpenTypeInHierarchy"
               label="%OpenTypeInHierarchyAction.label"
               helpContextId="x10dt.ui.open_type_in_hierarchy_action"
               tooltip="%OpenTypeInHierarchyAction.tooltip"
               class="x10dt.search.ui.actions.OpenTypeInHierarchyAction"
               menubarPath="navigate/open.ext2"
               id="openTypeInHierarchy">
         </action>
         <action
               id="openType"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               class="x10dt.search.ui.actions.OpenTypeAction"
               definitionId="x10dt.ui.navigate.OpenType"
               icon="icons/opentype.gif"
               helpContextId="x10dt.ui.open_type_action"
               label="%OpenTypeAction.label"
               menubarPath="navigate/open.ext2"
               tooltip="%OpenTypeAction.tooltip">
         </action>
         <action
               id="openTypeWarning"
               class="x10dt.search.ui.actions.OpenTypeActionWarning"
               definitionId="x10dt.ui.navigate.OpenTypeWarning"
               label="%OpenTypeAction.label">
         </action>
         <action
               definitionId="x10dt.ui.navigate.OpenTypeHierarchy"
               label="%OpenTypeHierarchyAction.label"
               retarget="true"
               menubarPath="navigate/open.ext"
               id="openTypeHierarchy">
         </action>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.imp.runtime.entityNameLocator">
         <entityNameLocator
             language="x10"
             class="x10dt.ui.editor.X10EntityNameLocator"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="x10dt.ui.developerTools"
            class="x10dt.ui.views.ASTValidatorViewPart"
            id="x10dt.ui.astValidationView"
            name="X10 AST Validator"
            restorable="true">
      </view>
      <category
            id="x10dt.ui.developerTools"
            name="X10DT Developer Tools">
      </category>
      <view
            allowMultiple="false"
            category="x10dt.ui.developerTools"
            class="x10dt.ui.views.ASTInfoViewPart"
            id="x10dt.ui.astInfoView"
            name="X10 AST Info"
            restorable="true">
      </view>
      <view
            name="%hierarchyViewName"
            icon="icons/class_hi.gif"
            category="x10dt.ui.developerTools"
            class="x10dt.search.ui.typeHierarchy.TypeHierarchyViewPart"
            id="x10dt.ui.TypeHierarchy">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="X10"
            id="x10dt.wizards.category">
      </category>
      <wizard
            category="x10dt.wizards.category"
            class="x10dt.ui.wizards.NewX10ClassWizard"
            finalPerspective="x10dt.ui.perspective"
            hasPages="true"
            icon="icons/newclass_wiz.gif"
            id="x10dt.ui.wizards.NewX10ClassWizard"
            name="X10 Class">
      </wizard>
      <wizard
            category="x10dt.wizards.category"
            class="x10dt.ui.wizards.NewX10InterfaceWizard"
            finalPerspective="x10dt.ui.perspective"
            hasPages="true"
            icon="icons/newint_wiz.gif"
            id="x10dt.ui.wizards.NewX10InterfaceWizard"
            name="X10 Interface">
      </wizard>
      <wizard
            category="x10dt.wizards.category"
            class="org.eclipse.imp.ui.wizards.NewPackageWizard"
            finalPerspective="x10dt.ui.perspective"
            hasPages="true"
            icon="icons/newpack_wiz.gif"
            id="x10dt.ui.wizards.NewX10PackageWizard"
            name="X10 Package">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.quickFixAssistant">
      <quickFixAssistant
            class="x10dt.ui.quickfix.QuickFixAssistant"
            language="X10">
            <supportedMarkerType 
            	markerType="org.eclipse.imp.x10dt.core.problemMarker"
            />
      </quickFixAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            id="x10dt.ui.editor"
            name="X10 Editor"
            class="x10dt.ui.editor.X10Editor"
            contributorClass="x10dt.ui.editor.X10EditorActionContributer"
            extensions="x10"
            icon="icons/compilationUnitNormal.gif">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="x10dt.ui.EarlyStartup"></startup>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="x10dt.ui.launching.X10LaunchablePropertyTester"
            id="x10dt.ui.X10LaunchableTester"
            namespace="x10dt.ui"
            properties="hasMain"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
            class="x10dt.ui.perspective.PerspectiveTester"
            id="x10dt.ui.X10PerspectiveTester"
            namespace="x10dt.ui"
            properties="perspectiveId"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.entityImageDecorator">
      <entityImageDecorator
            class="x10dt.ui.editor.X10EntityImageDecorator"
            language="X10">
      </entityImageDecorator>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.typeHierarchyContentProvider">
      <typeHierarchyContentProvider
            class="x10dt.ui.typeHierarchy.X10TypeHierarchyProvider"
            id="x10dt.ui.typeHierarchyContentProvider"
            language="X10">
      </typeHierarchyContentProvider>
   </extension>
</plugin>
