<?xml version="1.0" encoding="UTF-8"?>
<!-- !DOCTYPE report SYSTEM "Report.dtd" -->
<!-- 1.1 -->
<report version=@report_version@>
	<!-- x10c|x10c++ -->
	<name>@backend@</name>
	<!-- i386|x86_64|ppc|sparc|cygwin|bgl|bgp -->
	<variant>@backend_arch@</variant>
	<!-- subversion revision head -->
	<revision>@svn_revision@</revision>
	<start-time>@start_date_time@</start-time>
	<end-time>@end_date_time@</end-time>
	<parameters></parameters>
	<host>
		<name>@hostname@</name>
		<parameters></parameters>
	</host>
