			<test-configuration>
			<name>@test_configuration@</name>
			<parameters>
				<parameter key="x10.home" value=@x10_home@/>
				<parameter key="java.home" value=@java_home@/>
				<parameter key="x10lang.path" value=@x10lang_path@/>
				<parameter key="extra.classpath" value=@extra_classpath@/>
				<parameter key="x10c.version" value=@x10c_version@/>
				<parameter key="x10c.maxheap" value=@x10c_maxheap@/>
				<parameter key="x10c.time" value=@x10c_time@/>
				<parameter key="x10c.verbose" value=@x10c_verbose@/>
				<parameter key="x10c.commandlineonly" value=@x10c_commandlineonly@/>
				<parameter key="x10c.serial" value=@x10c_serial@/>
				<parameter key="x10c.post" value=@x10c_post@/>
				<parameter key="x10c.COMPILER_FRAGMENT_DATA_DIRECTORY" value=@x10c_COMPILER_FRAGMENT_DATA_DIRECTORY@/>
				<parameter key="x10c.LOOP_OPTIMIZATIONS" value=@x10c_LOOP_OPTIMIZATIONS@/>
				<parameter key="x10c.ARRAY_OPTIMIZATIONS" value=@x10c_ARRAY_OPTIMIZATIONS@/>
				<parameter key="x10c.INLINE_OPTIMIZATIONS" value=@x10c_INLINE_OPTIMIZATIONS@/>
				<parameter key="x10c.PLUGINS" value=@x10c_PLUGINS@/>
				<parameter key="x10c.PLUGIN_COMPILER" value=@x10c_PLUGIN_COMPILER@/>
				<parameter key="x10c.XML_PROCESSOR" value=@x10c_XML_PROCESSOR@/>
				<parameter key="x10c.EXTERNALIZE_ASTS" value=@x10c_EXTERNALIZE_ASTS@/>
				<parameter key="x10.time" value=@x10_time@/>
				<parameter key="x10.verbose" value=@x10_verbose@/>
				<parameter key="x10.maxheap" value=@x10_maxheap@/>
				<parameter key="x10.NUMBER_OF_LOCAL_PLACES" value=@x10_NUMBER_OF_LOCAL_PLACES@/>
				<parameter key="x10.NULL_DEFAULT_VALUE" value=@x10_NULL_DEFAULT_VALUE@/>
				<parameter key="x10.ABSTRACT_EXECUTION_STATS" value=@x10_ABSTRACT_EXECUTION_STATS@/>
				<parameter key="x10.ABSTRACT_EXECUTION_TIMES" value=@x10_ABSTRACT_EXECUTION_TIMES@/>
				<parameter key="x10.BIND_THREADS" value=@x10_BIND_THREADS@/>
				<parameter key="x10.BIND_THREADS_DIAGNOSTICS" value=@x10_BIND_THREADS_DIAGNOSTICS@/>
				<parameter key="x10.OPTIMIZE_FOREACH" value=@x10_OPTIMIZE_FOREACH@/>
				<parameter key="x10.LOAD" value=@x10_LOAD@/>
			</parameters>
