<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension
         id="problemMarker"
         name="X10 Problem Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.imp.x10dt.core.preferences.generated.X10Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.imp.x10dt.core.project.X10ClasspathContainerInitializer"
            id="org.eclipse.imp.x10dt.X10_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         id="classpathMarker"
         name="X10 Classpath Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="X10"
            class="org.eclipse.imp.x10dt.core.preferences.generated.X10PreferencePage"
            id="org.eclipse.imp.x10dt.core.preferences.generated.X10">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Formatting"
            category="org.eclipse.imp.x10dt.core.preferences.generated.X10"
            class="org.eclipse.imp.x10dt.core.preferences.generated.X10FormattingPreferencePage"
            id="org.eclipse.imp.x10dt.core.preferences.generated.X10.Formatting">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Compiler"
            category="org.eclipse.imp.x10dt.core.preferences.generated.X10"
            class="org.eclipse.imp.x10dt.core.preferences.generated.X10CompilerPreferencePage"
            id="org.eclipse.imp.x10dt.core.preferences.generated.X10.Compiler">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Optimizations"
            category="org.eclipse.imp.x10dt.core.preferences.generated.X10.Compiler"
            class="org.eclipse.imp.x10dt.core.preferences.generated.X10CompilerOptimizationsPreferencePage"
            id="org.eclipse.imp.x10dt.core.preferences.generated.X10.Compiler.Optimizations">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Runtime"
            category="org.eclipse.imp.x10dt.core.preferences.generated.X10"
            class="org.eclipse.imp.x10dt.core.preferences.generated.X10RuntimePreferencePage"
            id="org.eclipse.imp.x10dt.core.preferences.generated.X10.Runtime">
      </page>
   </extension>

</plugin>
