<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="x10"
            description="X10 Concurrent Programming Language"
            natureID="org.eclipse.imp.x10dt.core.x10nature"
            icons="icons/compilationUnitNormal.gif"
            language="X10">
      </language>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.eclipse.imp.x10dt.ui.parser.ParseController"
            language="X10">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.eclipse.imp.x10dt.ui.editor.X10TokenColorer"
            language="X10">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.imp.x10dt.ui.launching.X10LaunchConfigurationDelegate"
            id="org.eclipse.imp.x10dt.ui.launching.X10LaunchConfigurationType"
            modes="run,debug"
            name="X10 Application"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/x10_application.gif"
            configTypeID="org.eclipse.imp.x10dt.ui.launching.X10LaunchConfigurationType"
            id="org.eclipse.imp.x10dt.ui.launching.X10LaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.imp.x10dt.ui.launching.X10LaunchConfigurationType"
            class="org.eclipse.imp.x10dt.ui.launching.X10LaunchConfigurationTabGroup"
            id="org.eclipse.imp.x10dt.ui.launching.X10LaunchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="X10 Application"
            icon="icons/x10_application.gif"
            modes="run,debug"
            class="org.eclipse.imp.x10dt.ui.launching.X10LaunchShortcut"
            id="org.eclipse.imp.x10dt.ui.launching.x10LaunchShortcut">
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <perspective
               id="org.eclipse.imp.x10dt.ui.perspective">
         </perspective>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              value="*.x10"
                              property="org.eclipse.debug.ui.matchesPattern">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.autoEditStrategy">
      <autoEditStrategy
            class="org.eclipse.imp.x10dt.ui.editor.X10AutoIndentStrategy"
            language="X10">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.imp.x10dt.ui.launching.x10LaunchShortcut.debug"
            contextId="org.eclipse.ui.globalScope"
            sequence="M3+M2+D X"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="org.eclipse.imp.x10dt.ui.launching.x10LaunchShortcut.run"
            contextId="org.eclipse.ui.globalScope"
            sequence="M3+M2+X X"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Run X10 Application"
            description="Run the selected main type as an X10 application"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.imp.x10dt.ui.launching.x10LaunchShortcut.run">
      </command>
      <command
            name="Debug X10 Application"
            description="Run the selected main type as an X10 application"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.eclipse.imp.x10dt.ui.launching.x10LaunchShortcut.debug">
      </command>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.outliner">
      <outliner
            class="org.eclipse.imp.x10dt.ui.views.Outliner"
            language="X10">
      </outliner>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="org.eclipse.imp.x10dt.ui.editor.X10FoldingUpdater"
            language="X10">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="org.eclipse.imp.x10dt.ui.contentProposer.X10ContentProposer"
            language="X10">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="org.eclipse.imp.x10dt.ui.editor.X10TreeModelBuilder"
            language="X10">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="org.eclipse.imp.x10dt.ui.editor.X10LabelProvider"
            language="X10">
      </labelProvider>
   </extension>
   <extension
         id="org.eclipse.imp.x10dt.ui.cheatSheets"
         name="X10 Cheat Sheets"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            name="X10"
            id="org.eclipse.imp.x10dt">
      </category>
      <cheatsheet
            name="Using the X10DT"
            category="org.eclipse.imp.x10dt"
            contentFile="cheatsheets/UsingX10DT.xml"
            id="org.eclipse.imp.x10dt.ui.cheatSheets.using">
         <description>
            A brief introduction to using the X10 Development Toolkit.
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="org.eclipse.imp.x10dt.ui.editor.X10ReferenceResolver"
            language="X10">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="X10"
            icon="icons/x10perspective.gif"
            class="org.eclipse.imp.x10dt.ui.perspective.X10PerspectiveFactory"
            id="org.eclipse.imp.x10dt.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.eclipse.imp.x10dt.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.eclipse.imp.x10dt.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.eclipse.imp.x10dt.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.imp.x10dt.ui.perspective">
         <showInPart
               id="org.eclipse.imp.runtime.projectExplorerView">
         </showInPart>
         <showInPart
               id="org.eclipse.jdt.ui.PackageExplorer">
         </showInPart>
         <showInPart
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>
         <showInPart
               id="org.eclipse.ui.views.ResourceNavigator">
         </showInPart>
         <actionSet
               id="org.eclipse.imp.x10dt.ui.X10ElementCreation">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.eclipse.imp.x10dt.ui.editor.X10DocProvider"
            language="X10">
      </docProvider>
   </extension>
<!--
   <extension
         id="menu:org.eclipse.ui.main.menu"
         name="SourceSection"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Source"
               id="org.eclipse.imp.x10dt.ui.menu.source">
            <command
                  commandId="org.eclipse.imp.x10dt.ui.formatCmd"
                  tooltip="Format X10 source code">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.imp.x10dt.ui.view.source">
         <command
               commandId="org.eclipse.imp.runtime.formatSource"
               label="Source-code editing"
               tooltip="Format selected text"
               id="Format">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.imp.x10dt.ui.view.source">
         <command
               commandId="org.eclipse.imp.runtime.formatSource"
               label="Format"
               style="push"
               icon="icons/runtime_obj.gif"
               tooltip="Format X10 source code">
         </command>
      </menuContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Format"
            defaultHandler="org.eclipse.imp.x10dt.ui.commands.handlers.FormatCmdHandler"
            description="Format X10 source"
            id="org.eclipse.imp.x10dt.ui.formatCmd">
      </command>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contextHelper">
      <contextHelper
            class="org.eclipse.imp.x10dt.ui.help.X10ContextHelper"
            language="X10">
      </contextHelper>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.imp.runtime.impEditor"
            id="imp.rulerActions">
         <action
               label="SelectRulerAction"
               class="org.eclipse.imp.x10dt.ui.editor.actions.X10SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.imp.x10dt.ui.editor.actions.X10SelectRulerAction">
         </action>
      </editorContribution>
   </extension>
<!--
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.debug.core.lineBreakpointMarker"
            class="org.eclipse.imp.x10dt.ui.debug.X10LineBreakpoint"
            id="genericImpLineBreakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.imp.x10dt.ui.x10LineBreakpointMarker"
            name="org.eclipse.imp.X10LineBreakpoint"
            class="org.eclipse.imp.x10dt.ui.debug.X10LineBreakpoint"
            id="x10LineBreakpoint">
      </breakpoint>
   </extension>
   <extension
         id="x10LineBreakpointMarker"
         name="X10 Line breakpoint marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
-->
   <extension
         point="org.eclipse.imp.runtime.markOccurrences">
      <occurrenceIdentifier
            class="org.eclipse.imp.x10dt.ui.editor.X10OccurrenceIdentifier"
            language="X10">
      </occurrenceIdentifier>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.imp.x10dt.ui.X10ElementCreation"
            label="%perspective.actionsets">
         <action
               class="org.eclipse.imp.x10dt.ui.perspective.actions.OpenX10InterfaceWizardToolbarAction"
               icon="icons/newint_wiz.gif"
               id="org.eclipse.imp.x10dt.ui.NewX10InterfaceToolbarAction"
               label="%new.interface.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.interface.tooltip">
         </action>
         <action
               class="org.eclipse.imp.x10dt.ui.perspective.actions.OpenX10ClassWizardToolbarAction"
               icon="icons/newclass_wiz.gif"
               id="org.eclipse.imp.x10dt.ui.NewX10ClassToolbarAction"
               label="%new.class.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.class.tooltip">
         </action>
         <action
               class="org.eclipse.imp.x10dt.ui.perspective.actions.OpenX10PackageWizardToolbarAction"
               icon="icons/newpack_wiz.gif"
               id="org.eclipse.imp.x10dt.ui.NewX10PackageToolbarAction"
               label="%new.package.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.package.tooltip">
         </action>
         <action
               class="org.eclipse.imp.x10dt.ui.perspective.actions.OpenX10ProjectJavaBCWizardToolbarAction"
               icon="icons/newx10prj_java.gif"
               id="org.eclipse.imp.x10dt.ui.NewX10ProjectJavaToolbarAction"
               label="%new.project.java.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.project.java.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.toggleBreakpointHandler">
         <toggleBreakpointHandler
             language="x10"
             class="org.eclipse.imp.x10dt.ui.debug.X10ToggleBreakpointHandler"/>
            </extension>

</plugin>
