<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="problemMarker"
         name="X10 Problem Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="x10dt.core.preferences.generated.X10Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.pathContainerInitializer">
      <pathContainerInitializer
            class="x10dt.core.project.X10ClasspathContainerInitializer"
            language="X10"
            id="x10dt.X10_CONTAINER">
      </pathContainerInitializer>
   </extension>
   <extension
         id="classpathMarker"
         name="X10 Classpath Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="x10dt.core.CoreStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="false"
            id="migrate.project">
         <visibility>
            <or>
               <objectState
                     name="projectNature"
                     value="org.eclipse.imp.x10dt.ui.launch.java.x10nature">
               </objectState>
               <objectState
                     name="projectNature"
                     value="org.eclipse.imp.x10dt.ui.launch.cpp.x10nature">
               </objectState>
            </or>
         </visibility>
         <action
               label="Migrate Projects"
               class="x10dt.core.builder.migration.MigrateProjectsAction"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               enablesFor="+"
               id="migrate.project">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="X10"
            class="x10dt.core.preferences.generated.X10PreferencePage"
            id="x10dt.core.preferences.generated.X10">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Formatting"
            category="x10dt.core.preferences.generated.X10"
            class="x10dt.core.preferences.generated.X10FormattingPreferencePage"
            id="x10dt.core.preferences.generated.X10.Formatting">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Compiler"
            category="x10dt.core.preferences.generated.X10"
            class="x10dt.core.preferences.generated.X10CompilerPreferencePage"
            id="x10dt.core.preferences.generated.X10.Compiler">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Optimizations"
            category="x10dt.core.preferences.generated.X10.Compiler"
            class="x10dt.core.preferences.generated.X10CompilerOptimizationsPreferencePage"
            id="x10dt.core.preferences.generated.X10.Compiler.Optimizations">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Runtime"
            category="x10dt.core.preferences.generated.X10"
            class="x10dt.core.preferences.generated.X10RuntimePreferencePage"
            id="x10dt.core.preferences.generated.X10.Runtime">
      </page>
   </extension>

</plugin>
