<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Helios Platform for X10DT">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.imp.runtime.feature.group" version="0.2.1.v201012151627"/>
<unit id="org.eclipse.imp.java.hosted.feature.group" version="0.2.1.v201012151627"/>
<unit id="lpg.runtime.feature.group" version="2.0.20"/>
<unit id="org.eclipse.ptp.external.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.utils.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.core.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.remote.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.remote.remotetools.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.remotetools.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.rm.ibm.ll.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.rm.ibm.pe.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.rm.mpich2.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.rm.openmpi.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.debug.sdm.feature.group" version="5.0.0.201012140925"/>
<unit id="org.eclipse.ptp.services.feature.group" version="5.0.0.201012140925"/>
<repository location="http://orquesta.watson.ibm.com/x10dt/2.x"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.1.20101106_1831-73ca7af-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.1.20101106_1831-73ca7af-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.1.20101106_1831-73ca7af-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.1.20101106_1831-73ca7af-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="7.0.1.201009141542"/>
<unit id="org.eclipse.jdt.feature.group" version="3.6.1.r361_v20100714-0800-7z8XFUSFLFlmgLc5z-Bvrt8-HVkH"/>
<unit id="org.eclipse.platform.feature.group" version="3.6.1.r361_v20100909-9gF78GrkFqw7GrsZnvz0JWNTeb6fue6896L"/>
<unit id="org.eclipse.platform.sdk" version="3.6.1.M20100909-0800"/>
<unit id="org.eclipse.pde.feature.group" version="3.6.1.r361_v20100727-7b7mFL-FET3dhESDgE5_bkJ"/>
<unit id="org.eclipse.rcp.feature.group" version="3.6.1.r361_v20100827-9OArFLdFjY-ThSQXmKvKz0_T"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.6.0.M20100909-0800"/>
<unit id="org.eclipse.sdk.ide" version="3.6.1.M20100909-0800"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
</target>
