		<build-configuration>
			<!-- snapshot|release -->
			<name>@build_type@</name>
			<parameters>
				<!-- snapshot|release -->
				<parameter key="config.name" value=@config_name@/>
				<!-- java compiler version -->
				<parameter key="config.java.compiler" value=@config_java_compiler@/>
				<!-- c++ compiler version -->
				<parameter key="config.compiler" value=@config_compiler@/>
				<!-- pgas runtime version -->
				<parameter key="config.pgas" value=@config_pgas@/>
				<!-- pgas transport -->
				<parameter key="config.transport" value=@config_transport@/>
				<!-- c++ backend enabled checks -->
				<parameter key="config.checks" value=@config_checks@/>
				<!-- c++ backend debug/trace options -->
				<parameter key="config.debug" value=@config_debug@/>
				<!-- c++ backend gc -->
				<parameter key="config.gc" value=@config_gc@/>
			</parameters>
			<!-- elapsed build time -->
			<duration>@build_time@</duration>
			<!-- SUCCESS|FAILURE -->
			<result>@build_result@</result>
