<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.imp.x10dt.core.preferences.generated.X10"
            class="org.eclipse.imp.x10dt.ui.launch.core.preferences.X10PlatformConfigurationPrefPage"
            id="org.eclipse.imp.x10dt.ui.launch.core.platform.configuration.pref_page"
            name="%x10.platform.configuration.page.name">
      </page>
   </extension>

</plugin>
