<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.debug.core.parallelDebuggers">
      <debugger
            class="org.eclipse.imp.x10dt.ui.cpp.debug.core.X10Debugger"
            cpu="*"
            id="org.eclipse.imp.x10dt.ui.cpp.debugger"
            modes="debug"
            name="%debugger.name"
            platform="*">
      </debugger>
   </extension>
   <extension
         point="org.eclipse.imp.x10dt.ui.cpp.launch.debuggerTab">
      <debuggerTab
            class="org.eclipse.imp.x10dt.ui.cpp.debug.launching.X10DebuggerTab">
      </debuggerTab>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.toggleBreakpointHandler">
      <toggleBreakpointHandler
            class="org.eclipse.imp.x10dt.ui.cpp.debug.breakpoints.X10ToggleBreakpointsHandler"
            language="X10">
      </toggleBreakpointHandler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="org.eclipse.imp.x10dt.ui.cpp.debug.view.ClocksView"
            icon="icons/obj/clock.png"
            id="org.eclipse.imp.x10dt.ui.cpp.debug.view.clocks"
            name="%clocks.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
         <view
               closeable="true"
               id="org.eclipse.imp.x10dt.ui.cpp.debug.view.clocks"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.VariableView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
