<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ptp.remotetools.environment.core.remoteEnvironmentControlDelegate">
      <control
            class="x10dt.ui.launch.rms.core.environment.RemoteHostEnvironment"
            name="Remote Host">
      </control>
   </extension>

</plugin>
