	<build-target>
		<!-- i386-linux|x86_64-linux|ppc32-linux|ppc64-linux|ppc64-aix|sparc32-sunos|sparc64-sunos|bgl-linux|bgp-linux|cygwin-windows -->
		<name>@arch_os@</name>
		<parameters>
			<!-- i386|x86_64|ppc|sparc|bgl|bgp|cygwin -->
			<parameter key="target.arch" value=@target_arch@/>
			<!-- 32/64 -->
			<parameter key="target.address.size" value=@target_address_size@/>
			<!-- linux|sunos|windows|aix -->
			<parameter key="target.os" value=@target_os@/>
			<!-- hotspot|j9|jikes -->
			<parameter key="target.jvm" value=@target_jvm@/>
			<!-- 32/64 -->
			<parameter key="target.jvm.size" value=@target_jvm_size@/>
			<!-- jvm version -->
			<parameter key="target.jvm.version" value=@target_jvm_version@/>
			<!-- jre version -->
			<parameter key="target.jre.version" value=@target_jre_version@/>
		</parameters>
