<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
      		showScopeSection="true"	
            class="x10dt.search.ui.search.X10SearchPage"
            id="x10dt.search.ui.search.X10SearchPage"
            label="X10 Search"
            icon="$nl$/icons/objects/x10search_obj.gif">
      </page>
   </extension>
    <extension
    	id="X10SearchResultPage1"
        point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="x10dt.search.ui.search.X10SearchResultPage"
			searchResultClass="x10dt.search.ui.search.X10SearchResult"
			class="x10dt.search.ui.search.X10SearchResultPage">
		</viewPage>
   </extension>
</plugin>