<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.imp.pdb.analyzerFactory">
      <analyzerFactory
            class="org.eclipse.imp.x10dt.analysis.X10FactGeneratorFactory"
            name="org.eclipse.imp.x10dt.analysis.analyzerFactory">
         <signatureDescriptor>
            <outputs>
               <typeDescriptor
                     typeName="org.eclipse.imp.x10dt.typeHierarchy">
               </typeDescriptor>
               <typeDescriptor
                     typeName="org.eclipse.imp.x10dt.allTypes">
               </typeDescriptor>
            </outputs>
         </signatureDescriptor>
      </analyzerFactory>
   </extension>

</plugin>
