<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="x10ProjectConvert" name="Back-End X10 Project Converter" schema="schema/x10ProjectConvert.exsd"/>
   <extension-point id="x10ToggleBreakpointHandler" name="X10 Toggle Breakpoint Handler" schema="schema/x10ToggleBreakpointHandler.exsd"/>
   <extension
         point="org.eclipse.imp.runtime.toggleBreakpointHandler">
      <toggleBreakpointHandler
            class="x10dt.ui.launch.core.debug.X10ToggleBreakpointsHandler"
            language="x10">
      </toggleBreakpointHandler>
   </extension>
</plugin>
