<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.runtime.preferences">
        <initializer class="x10dt.ui.navigator.preferences.PreferenceInitializer"/>
    </extension>
   	<extension
			point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="x10dt.ui.navigatorContent" />
				<contentExtension pattern="x10dt.ui.navigator.filters.*" />	
				<contentExtension pattern="x10dt.ui.navigator.x10LinkHelper" />	
			</includes>
		</viewerContentBinding>
	</extension> 
	<extension
			point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
				activeByDefault="true"
				contentProvider="x10dt.ui.navigator.internal.NavigatorContentProvider"
				icon="$nl$/icons/x10perspective.gif"
				id="x10dt.ui.navigatorContent"
				labelProvider="x10dt.ui.navigator.internal.NavigatorLabelProvider"
				name="%commonNavigatorContentName"
				priority="high">
			<triggerPoints>
				<or>
					<adapt type="org.eclipse.core.resources.IProject" >
				      <or>
				         <test property="org.eclipse.imp.anyLanguage" />
				      </or>
					</adapt>
					<instanceof	value="org.eclipse.core.resources.IResource" />
					<instanceof value="org.eclipse.imp.model.ISourceEntity" />
					<instanceof value="org.eclipse.imp.ui.navigator.PackageFragmentRootContainer" />
					
 				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<instanceof	value="org.eclipse.core.resources.IResource" />
					<instanceof value="org.eclipse.imp.model.ISourceEntity" />
					<instanceof value="org.eclipse.imp.ui.navigator.PackageFragmentRootContainer" />
				</or>
			</possibleChildren> 
			<actionProvider
					class="x10dt.ui.navigator.internal.NavigatorViewActionProvider"
					id="x10dt.ui.navigator.actions.ViewActions"> 
				<enablement>
					<or>
						<instanceof value="org.eclipse.core.resources.IWorkspaceRoot" /> 
						<adapt type="java.util.Collection">
							<count value="0" />
						</adapt>
					</or>
				</enablement>
			</actionProvider>
			<actionProvider
					class="x10dt.ui.navigator.internal.NavigatorActionProvider"
					id="x10dt.ui.navigator.actions.StandardActions"
					overrides="org.eclipse.ui.navigator.resources.actions.EditActions"> 
				<enablement>
					<or>   
						<and>
							<instanceof value="org.eclipse.core.resources.IResource" />
							<or>
						         <test property="org.eclipse.imp.anyLanguage" />
						    </or>
						</and>
						<instanceof value="org.eclipse.imp.model.ISourceEntity" />
						<instanceof	value="org.eclipse.imp.ui.navigator.PackageFragmentRootContainer" />
						<adapt type="java.util.Collection"> 
							<count value="0" />
						</adapt>
					</or>
				</enablement>
			</actionProvider> 
			
			<actionProvider
					class="x10dt.ui.navigator.internal.NavigatorRefactorActionProvider"
					id="x10dt.ui.navigator.actions.RefactorActions"
					overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions"> 
				<enablement>
					<or>
						<and>
							<instanceof value="org.eclipse.core.resources.IProject" />
          					<or>
						         <test property="org.eclipse.imp.anyLanguage" />
						    </or>
						</and>
						<instanceof value="org.eclipse.imp.model.ISourceEntity" />
						<instanceof value="org.eclipse.imp.ui.navigator.PackageFragmentRootContainer" />
						
						<adapt type="java.util.Collection"> 
							<count value="0" />
						</adapt>				
					</or>
				</enablement>
			</actionProvider>
		   <actionProvider
		         class="x10dt.ui.navigator.internal.PackageExplorerOpenActionProvider"
		         id="x10dt.ui.navigator.actions.OpenActions"
		         overrides="org.eclipse.ui.navigator.resources.OpenActions"> 
		   </actionProvider> 
			<actionProvider
					class="org.eclipse.ui.navigator.resources.GoIntoActionProvider"
					id="x10dt.ui.navigator.resources.GoIntoActions"
					overrides="org.eclipse.ui.navigator.resources.GoIntoActions"> 
				<enablement>
					<or>
						<and>
							<adapt type="org.eclipse.core.resources.IProject" />
							<test property="org.eclipse.core.resources.open" 
								value="true"/>
						</and>
						<adapt type="org.eclipse.core.resources.IFolder" /> 	
						<adapt type="org.eclipse.ui.IWorkingSet" />
						<instanceof value="org.eclipse.imp.model.ISourceProject" />
						<instanceof value="org.eclipse.imp.model.ISourceRoot" />
						<instanceof value="org.eclipse.imp.model.ISourceFolder" />
					</or>
				</enablement>
			</actionProvider>
			
			<override
					policy="InvokeAlwaysRegardlessOfSuppressedExt"
					suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
			<!--
			<commonSorter
					class="org.eclipse.jdt.ui.JavaElementSorter"
					id="org.eclipse.jdt.ui.javaElementSorter"/>
			-->
			<commonWizard
		        menuGroupId="x10dt.wizards.category"
		        type="new"
		        wizardId="x10dt.ui.java.launch.wizards.NewX10Project">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.imp.model.ISourceEntity"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <or>
				         <test property="org.eclipse.imp.anyLanguage" />
					  </or>
		           </adapt>
		           <test property="x10dt.ui.perspectiveId" value="x10dt.ui.perspective" />
		        </or>
		     </enablement>
		    </commonWizard>
		    <commonWizard
		        menuGroupId="x10dt.wizards.category"
		        type="new"
		        wizardId="x10dt.ui.cpp.launch.NewX10Project">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.imp.model.ISourceEntity"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <or>
				         <test property="org.eclipse.imp.anyLanguage" />
					  </or>
		           </adapt>
		           <test property="x10dt.ui.perspectiveId" value="x10dt.ui.perspective" />
		        </or>
		     </enablement>
		    </commonWizard>
			<commonWizard
		        menuGroupId="x10dt.wizards.category"
		        type="new"
		        wizardId="x10dt.ui.wizards.NewX10PackageWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.imp.model.ISourceEntity"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <or>
				         <test property="org.eclipse.imp.anyLanguage" />
					  </or>
		           </adapt>
		        </or>
		     </enablement>
		    </commonWizard>
		    <commonWizard
		        menuGroupId="x10dt.wizards.category"
		        type="new"
		        wizardId="x10dt.ui.wizards.NewX10ClassWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.imp.model.ISourceEntity"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <or>
				         <test property="org.eclipse.imp.anyLanguage" />
					  </or>
		           </adapt>
		        </or>
		     </enablement>
		    </commonWizard>
   	        <commonWizard
		        menuGroupId="x10dt.wizards.category"
		        type="new"
		        wizardId="x10dt.ui.wizards.NewX10InterfaceWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.imp.model.ISourceEntity"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <or>
				         <test property="org.eclipse.imp.anyLanguage" />
					  </or>
		           </adapt>
		        </or>
		     </enablement>
		    </commonWizard>
		    <!--	  
		    <commonWizard
		          menuGroupId="x10dt.wizards.category"
		          type="new"
		          wizardId="x10dt.ui.wizards.NewSourceFolderCreationWizard">
				<enablement>
					<or> 
						<instanceof value="org.eclipse.imp.model.ISourceRoot"/> 
						<adapt type="org.eclipse.core.resources.IProject">
							<or>
						       <test property="org.eclipse.imp.anyLanguage" />
							</or>
						</adapt>
					</or>
				</enablement>
		    </commonWizard>
		    -->
		</navigatorContent>
				
		<commonFilter
		        activeByDefault="false"
		        class="x10dt.ui.navigator.internal.NonEssentialEmptyPackageFilter"
		        name="%HideEmptyPackages.label"
		        description="%HideEmptyPackages.description"
		        id="x10dt.ui.navigator.filters.HideEmptyPackages"/>
  		<commonFilter
		        activeByDefault="true"
		        class="x10dt.ui.navigator.internal.NonEssentialEmptyInnerPackageFilter"
		        name="%HideEmptyInnerPackages.label"
		        description="%HideEmptyInnerPackages.description"
		        id="x10dt.ui.navigator.filters.HideEmptyInnerPackages"/>        
  		<commonFilter 
		        class="x10dt.ui.navigator.internal.filters.X10FileFilter"
		        name="%HideX10Files.label"
		        description="%HideX10Files.description"
		        id="x10dt.ui.navigator.filters.HideX10Files"/> 		 
  		<commonFilter 
		        class="x10dt.ui.navigator.internal.filters.NonX10ElementFilter"
		        name="%HideNonX10Elements.label"
		        description="%HideNonX10Elements.description"
		        id="x10dt.ui.navigator.filters.HideNonX10Elements"/>   		
  		<commonFilter 
		        class="x10dt.ui.navigator.internal.filters.NonX10ProjectsFilter"
		        name="%HideNonX10Projects.label"
		        description="%HideNonX10Projects.description"
		        id="x10dt.ui.navigator.filters.HideNonX10Projects"/>     
  		<commonFilter 
		        class="x10dt.ui.navigator.internal.filters.NonSharedProjectFilter"
		        name="%HideNonSharedProjects.label"
		        description="%HideNonSharedProjects.description"
		        id="x10dt.ui.navigator.filters.HideNonSharedProjects"/>   
  		<commonFilter 
		        class="x10dt.ui.navigator.internal.filters.LibraryFilter"
		        name="%HideReferencedLibraries.label"
		        description="%HideReferencedLibraries.description"
		        id="x10dt.ui.navigator.filters.HideReferencedLibraries"/>   
  		<commonFilter
		        activeByDefault="true"
		        class="x10dt.ui.navigator.internal.filters.OutputFolderFilter"
		        name="%HideX10OutputFolder.label"
		        description="%HideOutputFolder.description"
		        id="x10dt.ui.navigator.filters.HideOutputFolder"/>
	</extension>
</plugin>
