<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.uide.runtime.languageDescription">
      <language
            description="X10 Concurrent Programming Language"
            extensions="x10"
            language="X10"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.parser">
      <parser
            class="x10.uide.parser.ParseController"
            language="X10"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.tokenColorer">
      <tokenColorer
            class="x10.uide.editor.MyTokenColorer"
            language="X10"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="x10.uide.launching.X10LaunchConfigurationDelegate"
            id="x10.uide.launching.X10LaunchConfigurationType"
            modes="run,debug"
            name="X10 Application"
            public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="x10.uide.launching.X10LaunchConfigurationType"
            icon="icons/x10_application.gif"
            id="x10.uide.launching.X10LaunchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="x10.uide.launching.X10LaunchConfigurationTabGroup"
            id="x10.uide.launching.X10LaunchConfigurationTabGroup"
            type="x10.uide.launching.X10LaunchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="x10.uide.launching.X10LaunchShortcut"
            icon="icons/x10_application.gif"
            id="x10.uide.launching.x10LaunchShortcut"
            label="X10 Application"
            modes="run,debug">
         <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.autoEditStrategy">
      <autoEditStrategy
            class="x10.uide.editor.X10AutoIndentStrategy"
            language="X10"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="x10.uide.launching.x10LaunchShortcut.debug"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+D X"/>
      <key
            commandId="x10.uide.launching.x10LaunchShortcut.run"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+X X"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run the selected main type as an X10 application"
            id="x10.uide.launching.x10LaunchShortcut.run"
            name="Run X10 Application"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run the selected main type as an X10 application"
            id="x10.uide.launching.x10LaunchShortcut.debug"
            name="Debug X10 Application"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.annotationHover">
      <annotationHover
            class="x10.uide.editor.AnnotationHover"
            language="X10"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.hoverHelper">
      <hoverhelper
            class="x10.uide.editor.HoverHelper"
            language="X10"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.outliner">
      <outliner
            class="x10.uide.views.Outliner"
            language="X10"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.foldingUpdater">
      <foldingUpdater
            class="x10.uide.editor.X10FoldingUpdater"
            language="X10">
      </foldingUpdater>
   </extension>
<!-- <extension
         point="org.eclipse.uide.runtime.hyperLink">
      <hyperlinkDetector
            class="x10.uide.editor.HyperlinkDetector"
            language="X10">
      </hyperlinkDetector>
   </extension>
  -->
   <extension
         point="org.eclipse.uide.runtime.contentProposer">
      <proposer
            class="x10.safari.contentProposer.X10ContentProposer"
            language="X10">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.outlineContentProvider">
         <outlineContentProvider
         		class="x10.uide.editor.X10ContentProvider"
         		language="X10"/>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.labelProvider">
         <labelProvider
               class="x10.uide.editor.X10LabelProvider"
               language="X10"/>
   </extension>
   <extension
         id="com.ibm.safari.x10.cheatSheets"
         name="X10 Cheat Sheets"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
         name="X10"
         id="com.ibm.safari.x10">
      </category>
      <cheatsheet
         name="Using the X10DT"
         category="com.ibm.safari.x10"
         id="com.ibm.watson.safari.x10.cheatSheets.using"
         contentFile="cheatsheets/UsingX10DT.xml">
         <description>
           A brief introduction to using the X10 Development Toolkit.
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.uide.runtime.referenceResolvers">
         <referenceResolver
             language="X10"
             class="x10.uide.editor.X10ReferenceResolver"/>
   </extension>
</plugin>
