<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="debuggerTab" name="debuggerTab" schema="schema/debuggerTab.exsd"/>
   <extension
         id="X10CppBuilder"
         name="X10 Compiler (Cpp Back-end)"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false">
         <run
               class="x10dt.ui.launch.cpp.builder.X10CppBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="x10nature"
         name="X10 Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="x10dt.ui.launch.cpp.nature.CppProjectNature">
         </run>
      </runtime>
      <builder
            id="x10dt.ui.launch.cpp.X10CppBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="x10dt.wizards.category"
            class="x10dt.ui.launch.cpp.wizards.CppProjectWizard"
            finalPerspective="x10dt.ui.perspective"
            hasPages="true"
            icon="icons/obj/newx10prj_cpp.gif"
            id="x10dt.ui.cpp.launch.NewX10Project"
            name="%new_prj_name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="x10dt.ui.cpp.launch.X10ElementCreation"
            label="%perspective.actionsets">
         <action
               class="x10dt.ui.launch.cpp.actions.OpenX10ProjectCppBCWizardToolbarAction"
               icon="icons/obj/newx10prj_cpp.gif"
               id="x10dt.ui.cpp.launch.NewX10ProjectCppToolbarAction"
               label="%new.project.cpp.label"
               style="push"
               toolbarPath="Normal/X10Wizards"
               tooltip="%new.project.cpp.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="x10dt.ui.perspective">
         <actionSet
               id="x10dt.ui.cpp.launch.X10ElementCreation">
         </actionSet>
         <newWizardShortcut
               id="x10dt.ui.cpp.launch.NewX10Project">
         </newWizardShortcut>rdShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="x10dt.ui.launch.cpp.launching.CppLaunchConfigurationDelegate"
            id="x10dt.ui.cpp.launch.X10LaunchConfigurationType"
            modes="run,debug"
            name="%launch.config.cpp.name"
            sourceLocatorId="x10dt.ui.cpp.launch.SourceLocator"
            sourcePathComputerId="org.eclipse.ptp.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="x10dt.ui.launch.cpp.launching.CppLaunchConfigurationTabGroup"
            id="x10dt.ui.cpp.launch.X10LaunchConfigurationTabGroup"
            type="x10dt.ui.cpp.launch.X10LaunchConfigurationType">
         <launchMode
               description="%parallelLaunch.run"
               mode="run"
               perspective="org.eclipse.ptp.ui.PTPRunPerspective">
         </launchMode>
         <launchMode
               description="%parallelLaunch.debug"
               mode="debug"
               perspective="org.eclipse.ptp.debug.ui.PTPDebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="x10dt.ui.cpp.launch.X10LaunchConfigurationType"
            icon="icons/obj/parallel_run.gif"
            id="x10dt.ui.cpp.launch.X10LaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="x10dt.ui.launch.cpp.launching.CppSourceLocator"
            id="x10dt.ui.cpp.launch.SourceLocator"
            name="X10 C++ back-end source locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="x10dt.ui.launch.cpp.editors.X10PlatformConfFormEditor"
            default="true"
            icon="icons/obj/x10-platform-conf.png"
            id="x10dt.ui.launch.cpp.platformConfEditor"
            name="%editors.platformConfEditor">
         <contentTypeBinding
               contentTypeId="x10dt.ui.launch.cpp.x10-platform-conf.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names="x10_platform.conf"
            id="x10dt.ui.launch.cpp.x10-platform-conf.content-type"
            name="%x10-platform-conf.content-type"
            priority="normal">
      </content-type>
   </extension>
   <extension
         id="platformConfMarker"
         name="X10 Problem Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="x10dt.ui.launch.cpp.launching.X10CppLaunchShortcut"
            icon="icons/obj/parallel_run.gif"
            id="x10dt.ui.launch.cpp.x10.app"
            label="%run.as.x10app"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <or>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.debug.ui.matchesPattern"
                                    value="*.x10">
                              </test>
                           </and>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragment">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragmentRoot">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                        </or>
                        <test
                              property="org.eclipse.debug.ui.projectNature"
                              value="x10dt.ui.launch.cpp.x10nature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="x10dt.ui.cpp.launch.X10LaunchConfigurationType">
         </configurationType>
         <description
               description="%run.as.description"
               mode="run">
         </description>
         <description
               description="%debug.as.description"
               mode="debug">
         </description>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="x10dt.ui.launch.cpp.x10.app.run"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X C">
      </key>
      <key
            commandId="x10dt.ui.launch.cpp.x10.app.run"
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+X C">
      </key>
      <key
            commandId="x10dt.ui.launch.cpp.x10.app.debug"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+D C">
      </key>
      <key
            commandId="x10dt.ui.launch.cpp.x10.app.debug"
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+M4+D C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            id="x10dt.ui.launch.cpp.x10.app.run"
            name="%run.app.command">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            id="x10dt.ui.launch.cpp.x10.app.debug"
            name="%debug.app.command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="x10dt.ui.launch.cpp.obj.contrib.convert-to-java"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="x10dt.ui.launch.cpp.actions.ConvertToJavaBackEndAction"
               enablesFor="+"
               id="x10dt.ui.launch.cpp.convert-java-back-end"
               label="%convert.java.back-end"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="x10dt.ui.launch.cpp.x10nature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="x10dt.ui.launch.core.x10ProjectConvert">
      <converter
            backEndType="c++"
            class="x10dt.ui.launch.cpp.actions.CppBackEndProjectConverter">
      </converter>
   </extension>
   <extension
         point="x10dt.ui.launch.core.x10ToggleBreakpointHandler">
      <x10ToggleBreakpointHandler
            backEndType="c++"
            class="x10dt.ui.launch.cpp.debug.X10CppToggleBreakpointsHandler">
      </x10ToggleBreakpointHandler>
   </extension>

</plugin>
