<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.imp.pdb.analyzerFactory">
      <analyzerFactory
            class="x10dt.search.core.pdb.X10FactGeneratorFactory"
            name="x10dt.search.core.fact.generator.factory">
         <signatureDescriptor>
            <outputs>
               <typeDescriptor
                     typeName="x10.all.types">
               </typeDescriptor>
               <typeDescriptor
                     typeName="x10.typeHierarchy">
               </typeDescriptor>
               <typeDescriptor
                     typeName="x10.type.methods">
               </typeDescriptor>
               <typeDescriptor
                     typeName="x10.type.fields">
               </typeDescriptor>
            </outputs>
         </signatureDescriptor>
      </analyzerFactory>
   </extension>

</plugin>
