<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/x10.dist/lib/polyglot3.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="polyglot.main.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-extclass x10.ExtensionInfo &quot;${resource_loc}&quot; -sourcepath &quot;${workspace_loc:x10.runtime/src-x10}&quot; -sourcepath &quot;${workspace_loc:x10.dist}/lib/x10.jar&quot; -sourcepath &quot;${workspace_loc:x10.tests}/examples/x10lib&quot; -noserial -assert -post &quot;javac -source 1.5 -classpath ${workspace_loc:x10.runtime/classes}&quot; -d out -disable CheckNativeAnnotations -commandlineonly -SAFE_PARALLELIZATION_CHECK=true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="x10.compiler"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${container_loc}"/>
</launchConfiguration>
