<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="x10dt.product">
      </introProductBinding>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%about.product"
            name="%product.name">
         <property
               name="windowImages"
               value="images/x10dt_16x16x32.png,images/x10dt_32x32x32.png,images/x10dt_48x48x32.png,images/x10dt_64x64x32.png,images/x10dt_128x128x32.png">
         </property>
         <property
               name="aboutText"
               value="%about.product">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="3,357,494,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,260,480,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introTitle"
               value="%product.intro.title">
         </property>
         <property
               name="introBrandingImage"
               value="product:intro_x10dt.png">
         </property>
      </product>
   </extension>

</plugin>
