<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.toggleBreakpointHandler">
         <toggleBreakpointHandler language="x10" class="org.eclipse.imp.x10dt.ui.cpp.debug.X10ToggleBreakpointsHandler"/>
   </extension>

</plugin>
