<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="org.eclipse.imp.x10dt.debug">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="org.eclipse.imp.x10dt.debug"
            class="org.eclipse.imp.x10dt.debug.views.SampleView"
            id="org.eclipse.imp.x10dt.debug.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.eclipse.imp.x10dt.debug.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
      <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            name="X10 Application"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            delegate="org.eclipse.imp.x10dt.debug.ui.launching.X10LaunchConfigurationDelegate"
            modes="run,debug"
            public="true"
            id="org.eclipse.imp.x10dt.ui.launching.X10LaunchConfigurationType">
      </launchConfigurationType>
   </extension>
      <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.imp.x10dt.debug.ui.presentation.X10ModelPresentation"
            id="org.eclipse.imp.x10dt.debug"/>
   </extension>
     <extension
           point="org.eclipse.ui.contexts">
        <context
              parentId="org.eclipse.debug.ui.debugging"
              description="Debugging X10 Programs"
              name="Debugging X10 Programs"
              id="org.eclipse.imp.x10dt.debug"/>
     </extension>
	  <extension
	        point="org.eclipse.debug.ui.debugModelContextBindings">
	     <modelContextBinding
	           contextId="org.eclipse.imp.x10dt.debug"
	           debugModelId="org.eclipse.imp.x10dt.debug"/>
	  </extension>
	  <extension point="org.eclipse.core.runtime.adapters">
 		<factory 
   			class="org.eclipse.imp.x10dt.debug.adapter.X10AdapterFactory" 
   			adaptableType="org.eclipse.imp.x10dt.debug.model.impl.X10DebugTargetAlt">
			<adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
      		<adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory"/>
       </factory>
 		<factory 
   			class="org.eclipse.imp.x10dt.debug.adapter.X10AdapterFactory" 
   			adaptableType="org.eclipse.imp.x10dt.debug.model.impl.X10Thread">
			<adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
		</factory>
 		<factory 
   			class="org.eclipse.imp.x10dt.debug.adapter.X10AdapterFactory" 
   			adaptableType="org.eclipse.imp.x10dt.debug.model.impl.X10Activity">
			<adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
		</factory>
		<factory
   			class="org.eclipse.imp.x10dt.debug.adapter.X10AdapterFactory" 
			adaptableType="org.eclipse.jdt.internal.debug.core.model.JDIVariable">
			<adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
		</factory>
		<factory
   			class="org.eclipse.imp.x10dt.debug.adapter.X10AdapterFactory" 
			adaptableType="org.eclipse.imp.x10dt.debug.model.impl.X10StackFrame">
			<adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementLabelProvider"/>
		</factory>
		<factory
   			class="org.eclipse.imp.x10dt.debug.adapter.X10AdapterFactory" 
			adaptableType="org.eclipse.imp.x10dt.debug.model.impl.X10Activity">
			<adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementLabelProvider"/>
		</factory>
 - 	</extension>
</plugin>
