<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="X10Builder"
         name="X10 Compiler"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.imp.x10dt.core.builder.X10Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="x10nature"
         name="X10 Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.imp.x10dt.core.builder.X10ProjectNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.imp.x10dt.core.builder.X10Builder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="problemMarker"
         name="X10 Problem Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="X10"
            id="org.eclipse.imp.x10dt.core">
      </category>
      <wizard
            name="X10 Class"
            icon="icons/newclass.gif"
            category="org.eclipse.imp.x10dt.core"
            class="org.eclipse.imp.x10dt.core.wizards.NewX10ClassWizard"
            hasPages="true"
            id="org.eclipse.imp.x10dt.core.wizards.NewX10ClassWizard">
      </wizard>
      <wizard
            name="X10 Interface"
            icon="icons/newinterface.gif"
            category="org.eclipse.imp.x10dt.core"
            class="org.eclipse.imp.x10dt.core.wizards.NewX10InterfaceWizard"
            hasPages="true"
            id="org.eclipse.imp.x10dt.core.wizards.NewX10InterfaceWizard">
      </wizard>
      <wizard
            name="X10 Package"
            icon="icons/newpackage.gif"
            category="org.eclipse.imp.x10dt.core"
            class="org.eclipse.imp.x10dt.core.wizards.NewX10PackageWizard"
            hasPages="true"
            id="org.eclipse.imp.x10dt.core.wizards.NewX10PackageWizard">
      </wizard>
      <wizard
            name="X10 Project (Java back-end)"
            canFinishEarly="false"
            icon="icons/newproject.gif"
            category="org.eclipse.imp.x10dt.core"
            class="org.eclipse.imp.x10dt.core.wizards.X10ProjectWizard"
            hasPages="true"
            project="true"
            id="org.eclipse.imp.x10dt.core.wizards.NewX10Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            nameFilter="*"
            id="org.eclipse.imp.x10dt.core.projectContextMenu">
         <menu
               label="X10"
               path="additions"
               id="org.eclipse.imp.x10dt.core.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Enable Builder"
               icon="icons/builderEnable.gif"
               tooltip="Enable the X10 Compiler for this project"
               class="org.eclipse.imp.x10dt.core.actions.BuilderEnable"
               menubarPath="org.eclipse.imp.x10dt.core.menu1/group1"
               enablesFor="1"
               id="org.eclipse.imp.x10dt.core.enableBuilderAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.imp.x10dt.core.preferences.generated.X10Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="X10"
            class="org.eclipse.imp.x10dt.core.preferences.generated.X10PreferencePage"
            id="org.eclipse.imp.x10dt.core.preferences.generated.X10">
      </page>
   </extension>

</plugin>
